.footer {
  height: 93px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  font-size: 14px;
}
.footer__copyright {
  color: rgba(139, 139, 139, 0.5);
  margin: 0;
}
.footer__design {
  margin: 0;
  color: #8b8b8b;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer__link {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}
