.section__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 19px;
}
.section__title:after {
  content: "";
  width: 88px;
  height: 1px;
  margin-top: 10px;
  background-color: #f69679;
}
.section__title--left {
  align-items: left;
}
