/*************
GLOBAL
*************/
* {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'Lato', sans-serif;
}
a {
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.5s linear;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
/**********************
HEADER
**********************/
header {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 0 10%;
}
/**************
Logo
**************/
.logo {
  width: 129px;
  height: 108px;
}
.logo__img {
  width: 100%;
}
.section__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 19px;
}
.section__title:after {
  content: "";
  width: 88px;
  height: 1px;
  margin-top: 10px;
  background-color: #f69679;
}
.section__title--left {
  align-items: left;
}
.section__title--meals {
  margin-bottom: 50px;
}
.review-control__item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.review-control__item--active,
.review-control__item:hover {
  background-color: #fff;
}
/***********************
MENU
***********************/
.menu {
  color: #000;
  margin-left: auto;
}
.menu__list {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu__item {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 30px;
  position: relative;
}
.menu__link {
  text-transform: uppercase;
  text-decoration: none;
}
/***************
button menu
***************/
.button-menu {
  display: none;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 10px 0 0;
  text-align: right;
  position: absolute;
  right: 0;
}
.button-menu__link {
  padding: 10px 40px;
  display: block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.4);
}
.button-menu__link:hover {
  background-color: #eee;
  color: #333;
}
#checkbox-button-menu:checked + .button-menu {
  display: block;
}
/***************
section: MAIN
***************/
.main {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main__title {
  font-family: 'Times New Roman';
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1.8px;
  text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
  text-align: center;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.8);
}
.main__title__big {
  display: block;
  font-style: normal;
  font-family: Lato;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
}
.main__button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 3px;
  border: 3px solid #fff;
  width: 280px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.main__description {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
}
.main__description a {
  text-decoration: underline;
  text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
}
.features {
  padding: 100px 10%;
}
.features__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.features__item {
  width: 360px;
  padding: 0 10px;
  text-align: center;
}
.features__item:before {
  content: "";
  width: 107px;
  height: 107px;
  border: 1px solid #000;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  display: inline-block;
  margin-bottom: 20px;
}
.features__item--burger:before {
  background-image: url('../img/burger.png');
}
.features__item--money:before {
  background-image: url('../img/money.png');
}
.features__item--man:before {
  background-image: url('../img/man.png');
}
.features__description {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  color: #8b8b8b;
}
.app {
  padding: 180px 10% 0;
  background-color: #f7f7f7;
  height: 700px;
  display: flex;
}
.app__image {
  width: 523px;
  background-image: url('../img/app-bg-iphone.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: -80px;
}
.app__content {
  width: 543px;
  margin-left: auto;
}
.app__description {
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  margin: 0 0 30px;
}
.app__link {
  display: inline-block;
  margin-right: 10px;
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.app__link--appstore {
  background-image: url('../img/appstore.png');
  width: 112px;
  height: 39px;
}
.app__link--googleplay {
  background-image: url('../img/googleplay.png');
  width: 120px;
  height: 39px;
}
.review {
  background-color: #493647;
  background-image: url('../img/bg-review.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.review__avatar {
  width: 104px;
  height: 104px;
  border: 5px solid #968c95;
  border-radius: 50%;
  margin-bottom: 30px;
}
.review__text {
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  margin: 0 0 30px;
}
.review__author {
  font-size: 18px;
  line-height: 36px;
  font-style: italic;
  margin-bottom: 40px;
}
.meals {
  padding: 50px 0;
}
.meals__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.meals__item {
  background-image: url('../img/meals/italian.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20%;
  height: 225px;
  color: #fff;
  position: relative;
}
.meals__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 1px 40px rgba(1, 1, 1, 0.55);
  text-align: center;
  letter-spacing: 0.768px;
}
.meals__counter {
  font-size: 15px;
  line-height: 30px;
  font-style: italic;
}
.meals__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.recipes-counter {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  padding: 0 10% ;
  margin-top: -25px;
}
.recipes-counter__item {
  text-align: center;
}
.recipes-counter__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 12px;
}
.recipes-counter__description {
  margin: 0;
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}
.footer {
  height: 93px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  font-size: 14px;
}
.footer__copyright {
  color: rgba(139, 139, 139, 0.5);
  margin: 0;
}
.footer__design {
  margin: 0;
  color: #8b8b8b;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer__link {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}
